


/* 2xl */
@media (max-width: 1536px) {
  .mycontainer {
    max-width: 1280px;
  }
}

/* xl */
@media (max-width: 1280px) {
  .mycontainer {
    max-width: 1024px;
  }
}

/* lg */
@media (max-width: 1024px) {
  .mycontainer {
    max-width: 768px;
  }
  #desktop-nav{
        display: none;
    }
    #hamburger-nav{
        display: flex;
    }
    .arrow{
        display: none;
    }
}

/* md */
@media (max-width: 768px) {
  .mycontainer {
    max-width: 640px;
  }
  .header-container{
      flex-direction: column;
      gap: 3rem;
  }
  .about-content{
      flex-direction: column;
      gap: 3rem;
  }
  .about-img{
    width: 60%;
  }
  .about-description{
      width: 100%;
  }
  .about-description-detail{
      justify-content: center;
  }
}

/* sm */
@media (max-width: 640px) {
  .mycontainer {
    max-width: 475px;
  }
  
}

/* xs */
@media (max-width: 475px) {
  .mycontainer {
    width: 100%;
  }
  .about-description{
      width: 70%;
  }
  
}

